/* fonts */
@font-face {
  font-family: Ubuntu;
  src: url('fonts/Ubuntu/Ubuntu-L.ttf');
}
@font-face {
  font-family: UbuntuBold;
  src: url('fonts/Ubuntu/Ubuntu-R.ttf');
}
@font-face {
  font-family: ThirstyScript;
  src: url('fonts/ThirstyScript.otf');
}
@font-face {
  font-family: Titillium;
  src: url('fonts/Titillium/Titillium-Regular.otf');
}
@font-face {
  font-family: ExoLight;
  src: url('fonts/exo-2/Exo2-Light.otf')
}

.no-a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url('https://media1.tenor.com/images/004fc13cde571f3f9e2ddb8f5f1cc9ef/tenor.gif?itemid=12693690');
}

#navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: -8px;
  float: left;
  vertical-align: center;
  z-index: 1;
}
#logo {
  height: 40px;
  width: auto;
  margin: 5px;
}
#navtext {
  font-family: "ThirstyScript";
  color: black;
  font-size: 1.5em;
}
#boxes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#boxes li {
  float: right;
}
#boxes li a {
  display: block;
  padding: 8px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Titillium";
}
#main {
  height: 500px;
  z-index: 0;
}
#mainlogo img {
  width: 250px;
  height: auto;
}
#maintext {
  font-size: 3em;
  color: white;
  font-family: "UbuntuBold";
}
#log-in, #get-started {
  height: 40px;
  width: 140px;
  border: 1px solid lightgray;
  font-family: "ExoLight";
  font-size: 1em;
  cursor: pointer;
}
#log-in {
  background-color: rgba(240,240,240,0.4);
}
#get-started {
  background-color: #256adb;
  color: white;
}
#get-started:hover, #log-in:hover {
  border: 1px solid gray;
}

#input-box {
  margin-top: 200px;
  height: 400px;
  background-color: lightgray;
  opacity: 0.5;
}

h2 {
  font-family: UbuntuBold;
  margin-top: 40px;
  text-align: center;
}
p {
  margin: 40px;
  margin-top: 20px;
  text-align: justify;
  text-indent: 30px;
  font-family: Ubuntu;
  font-size: 0.8em;
}
